/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@media screen and (max-width: 1199px) {
  #projects, #footer .container, .clients-content, .team-content, .benefits-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  #projects, #footer .container, .clients-content, .team-content, .benefits-content {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
}

*,
* ::before,
* ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 36px;
    line-height: 1.17;
  }
}

.container {
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo .accent-logo {
  color: #2196f3;
}
.logo.top {
  display: block;
  color: #212121;
}
.logo.bottom {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .logo.bottom {
    text-align: center;
  }
}

#header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  #header .nav {
    min-height: 60px;
  }
}
@media screen and (min-width: 768px) {
  #header .nav {
    min-height: 80px;
  }
}

#header .container {
  position: relative;
}

@media screen and (max-width: 767px) {
  .nav-container {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
    -webkit-transition-property: "opacity, transform";
    transition-property: "opacity, transform";
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-container.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    z-index: 1;
  }
}
@media screen and (min-width: 768px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 84px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .nav-container {
    gap: 305px;
  }
}

.nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .nav-main {
    gap: 50px;
  }
}
@media screen and (max-width: 767px) {
  .nav-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 50px;
  }
}

.main-nav-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .main-nav-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .main-nav-contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav-contacts {
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .main-nav-contacts .item:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 1199px) {
  .main-nav-contacts .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.nav-main .item {
  position: relative;
}
@media screen and (max-width: 767px) {
  .nav-main .item {
    padding-bottom: 8px;
  }
  .nav-main .item:not(:first-child) {
    padding-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .nav-main .item {
    padding: 32px 0;
  }
}
.nav-main .item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-main .item:hover a, .nav-main .item:focus a {
  color: #2196f3;
}

.nav-main > .item::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
  border-radius: 2px;
  -webkit-transition-property: "background-color, width";
  transition-property: "background-color, width";
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-main > .item:hover::before {
  background-color: #2196f3;
  width: 100%;
}

.main-nav-contacts .item:hover a,
.main-nav-contacts .item:focus a,
.main-nav-contacts .item:hover .icon-contacts,
.main-nav-contacts .item:focus .icon-contacts {
  color: #2196f3;
  fill: #2196f3;
}
.main-nav-contacts a {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .main-nav-contacts a {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav-contacts a {
    font-size: 14px;
    line-height: 1.14;
  }
}
.main-nav-contacts .icon-contacts {
  fill: #757575;
  margin-right: 10px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: #212121;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-right: 15px;
  cursor: pointer;
}
.menu-button:hover .icon-menu, .menu-button:focus .icon-menu, .menu-button:hover .icon-cross, .menu-button:focus .icon-cross {
  fill: #2196f3;
}
.menu-button .icon-cross {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-property: "opacity, fill";
  transition-property: "opacity, fill";
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open .icon-cross {
  opacity: 1;
  pointer-events: all;
}

.menu-button.is-open .icon-menu {
  opacity: 0;
  pointer-events: none;
}

.menu-button .icon-menu {
  -webkit-transition-property: "opacity, fill";
  transition-property: "opacity, fill";
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

.main-button {
  display: block;
  width: 200px;
  min-height: 50px;
  margin: 0 auto;
  border: 2px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer-main-button {
    margin: 0;
  }
}

.main-button:hover {
  cursor: pointer;
  background-color: #188ce8;
  border: 2px solid #188ce8;
}

.hero-container {
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .hero-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-mobile.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-mobile.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-mobile@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-tablet@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-tablet@2x.jpg);
  }
}
@media screen and (max-width: 1199px) {
  .hero-container {
    min-height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    min-height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-desktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero-desktop@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero-desktop@2x.jpg);
  }
}

.hero h1 {
  display: inline-block;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .hero h1 {
    margin: 118px auto 30px;
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .hero h1 {
    margin: 200px auto 30px;
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.benefits h2 {
  display: none;
}
.benefits h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin: 0px auto 10px;
}
.benefits p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .benefits .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits .benefits-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .benefits .benefits-list .benefits-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .benefits .benefits-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.benefits .benefits-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.program {
  margin-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .program {
    display: none;
  }
}
.program h2 {
  margin-top: 0;
  margin-bottom: 50px;
}
.program .program-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.program .program-list .program-item {
  position: relative;
}
.program b {
  position: absolute;
  bottom: 0;
  display: inline-block;
  text-align: center;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-content {
  background-color: #f5f4fa;
}
.team-content h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.team-content h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19em;
  text-align: center;
  color: #757575;
  margin-top: 0px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .team-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    margin-top: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.team-list-item {
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .team-list-item {
    width: 100%;
    height: 482px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-list-item {
    width: 354px;
    min-height: 422px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list-item {
    width: 270px;
  }
}
.team-list-item .thumb {
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .team-list-item .thumb {
    max-width: 450px;
    max-height: 320px;
  }
}
@media screen and (min-width: 768px) {
  .team-list-item .thumb {
    max-width: 354px;
    max-height: 260px;
  }
}
@media screen and (min-width: 1199px) {
  .team-list-item .thumb {
    max-width: 270px;
    max-height: 260px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  margin: auto;
}
.social-list .social-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .bottom-social-item a {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list .social-link {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .social-link-footer {
  fill: #ffffff;
}

.social-item:hover a,
.social-item:focus a {
  background-color: #2196f3;
}

.social-item:hover .social-link,
.social-item:focus .social-link {
  fill: #ffffff;
}

.clients-content h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .clients-list .clients-list-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-list .clients-list-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list .clients-list-item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: content;
        flex-basis: content;
  }
}
.clients-list .clients-list-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 90px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .clients-list .clients-list-item a {
    width: 170px;
  }
}
.clients-list .clients-logo {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item:focus .clients-logo,
.clients-list-item:hover .clients-logo {
  fill: #2196f3;
}

.clients-list-item:hover a,
.clients-list-item:focus a {
  border: 1px solid #2196f3;
}

#footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2f303a;
}
@media screen and (max-width: 767px) {
  #footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  #footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  #footer .container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  #footer .footer-contacts {
    text-align: center;
  }
}
#footer .footer-contacts address {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  #footer .footer-contacts address {
    width: 231px;
  }
}
#footer .footer-contacts address a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 8px;
}

@media screen and (max-width: 1199px) {
  #footer .social {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  #footer .social {
    margin-left: 69px;
    margin-right: 94px;
  }
}

#footer b {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  #footer form {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  #footer form {
    width: 450px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  #footer form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    width: 570px;
  }
}
#footer form .box-input {
  position: relative;
}
@media screen and (max-width: 1199px) {
  #footer form .box-input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  #footer form .box-input {
    width: 358px;
    margin-right: 12px;
  }
}
#footer form .box-input input {
  width: 100%;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 16px;
}
#footer form .box-input input:focus {
  outline: none;
}
#footer form .box-input input:focus ~ label {
  font-size: 14px;
}
@media screen and (max-width: 1199px) {
  #footer form .box-input input:focus ~ label {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}
@media screen and (min-width: 1200px) {
  #footer form .box-input input:focus ~ label {
    -webkit-transform: translateX(-65px);
            transform: translateX(-65px);
  }
}
#footer form .box-input label {
  position: absolute;
  top: 15px;
  left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: "transform, font-size";
  transition-property: "transform, font-size";
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#footer form .send-icon {
  fill: #ffffff;
  vertical-align: middle;
  margin-left: 8px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal > h3 {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.form .form-field {
  position: relative;
  display: block;
  margin-bottom: 28px;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.form .form-field > input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  min-height: 40px;
  padding-left: 42px;
}
.form .form-field > input:focus {
  outline: none;
}
.form .form-field > input:focus ~ .modal-icons {
  fill: #2196f3;
}
.form .form-field > input:focus + .form-label {
  color: #2196f3;
  -webkit-transform: translate(-25px, -40px);
          transform: translate(-25px, -40px);
  font-size: 12px;
  line-height: 1.16;
}
.form .form-field > .modal-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form .form-field > .form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: "color, transform, font-size, line-height";
  transition-property: "color, transform, font-size, line-height";
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form > textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
  resize: none;
  margin-bottom: 20px;
}
.form > textarea:focus {
  outline: none;
}
.form > textarea::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}
.form > textarea::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}
.form > textarea:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}
.form > textarea::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}
.form > textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}
.form .checkbox {
  position: relative;
  display: block;
  margin-bottom: 30px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .form .checkbox {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .form .checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}
.form .checkbox .agreement {
  color: #2196f3;
  text-decoration: underline;
}
.form .checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 10px;
}
.form .checkbox > input:checked ~ .checkbox-icon {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-color: #2196f3;
  border: 2px solid #2196f3;
}
.form .checkbox .checkbox-icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  fill: #000000;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover, .close-button:focus {
  fill: #2196f3;
}

.projects-filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .projects-filter-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1199px) {
  .projects-filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .projects-examples-list {
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .projects-examples-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
  }
}
.projects-examples-list .cards {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .projects-examples-list .cards {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .projects-examples-list .cards {
    width: 354px;
  }
}
@media screen and (min-width: 1199px) {
  .projects-examples-list .cards {
    width: 370px;
  }
}
.projects-examples-list .cards:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-examples-list .cards:hover .cards-description, .projects-examples-list .cards:focus .cards-description {
  opacity: 1;
  background-color: #2196f3;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media screen and (max-width: 767px) {
  .projects-examples-list .cards:not(:last-child) {
    margin-bottom: 30px;
  }
}
.projects-examples-list .cards .cards-description {
  -webkit-transition-property: "opacity, background-color, transform";
  transition-property: "opacity, background-color, transform";
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
}
.projects-examples-list .cards .cards-image {
  position: relative;
  overflow: hidden;
}
.projects-examples-list .cards .cards-image .thumb {
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .projects-examples-list .cards .cards-image .thumb {
    max-width: 450px;
    max-height: 294px;
  }
}

#projects h2 {
  display: none;
}
#projects button {
  margin-bottom: 7px;
  padding: 6px 22px;
  border: 1px transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition-property: "color, background-color, box-shadow";
  transition-property: "color, background-color, box-shadow";
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#projects button:hover, #projectsbutton:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
#projects h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}
#projects .caption {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
#projects .caption p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  margin: 0;
}
#projects .description {
  display: block;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */