$primary-background-color: #ffffff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$secondary-background-color: #f5f4fa;
$icon-color: #afb1b8;
$footer-background-color: #2f303a;
